.NavContainer{
    border: 1px solid;
    width: 300px;
    display: flex; 
    justify-content: space-between;
    color: #EAE6CA;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 35px;
    margin-right: 30px;
}