.remoteWorkContainer {
    background-color: rgb(109, 189, 189);
}

.container {
    min-width: 300px;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    min-height: 300px;
}
