.remoteWorkContainer {
  background-color: #424632;;
}

.container {
  min-width: 300px;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  min-height: 150px;
}
.remoteWorkContainer button {
  width: 130px;
  height: 50px;
  border: 1px solid #424632;
  border-radius: 8px;
  background-color: #999950;
  color: #eae6ca;
  font-family: 'Beer money';
  font-size: large;
  font-weight: bold;
}

button{
    border-color: #424632;
    color: #eae6ca;
    box-shadow: 0 0 40px 40px #999950 inset, 0 0 0 0 #999950;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}


button:hover {
  box-shadow: 0 0 10px 0 #999950 inset, 0 0 10px 4px #999950;
}