.footerContainer {
  background-color: #424632;
}
.container {
  min-width: 300px;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  text-align: center;
  min-height: 150px;
}
.socialIcon div {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.socialIcon {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.container span{
  color:#eae6ca;
  font-family: 'Beer money';
  font-size: 17px;
}
.container h2{
  margin: 0;
}