.footerContainer{
    background-color: rgb(220, 198, 84);
}
.container{
    min-width: 300px;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    text-align: center;
    min-height: 300px;
}
.socialIcon div{
width: 60px;
height: 60px;
background-color: darkgray;
}
.socialIcon{
    display: flex;
    width: 300px;
    justify-content: space-between;
}